In [2]:
import pandas as pd

In [3]:
dataFrame = pd.concat(
   map(pd.read_csv, ['Johannesburg0.csv', 'Johannesburg1.csv', 'Johannesburg2.csv', 'Johannesburg3.csv','Johannesburg4.csv', 'Johannesburg5.csv', 'Johannesburg6.csv', 'Johannesburg7.csv', 'Johannesburg8.csv', 'Johannesburg9.csv', 'Johannesburg10.csv', 'Johannesburg11.csv', 'Johannesburg12.csv', 'Johannesburg13.csv', 'Johannesburg14.csv', 'Johannesburg15.csv', 'Johannesburg16.csv', 'Johannesburg17.csv', 'Johannesburg18.csv', 'Johannesburg19.csv', 'Johannesburg20.csv', 'Johannesburg21.csv', 'Johannesburg22.csv']), ignore_index=True)

In [4]:
dataFrame

,price,bedrooms,bathrooms,parking space,Type of Property,Erf Size,Floor Size,Levies,Rates and Taxes,Pets Allowed,Pool
0,R 665 000,2.0,1.0,1.0,Apartment/Flat,51m²,51m²,R1261,R150,0.0,0
1,R 850 000,2.0,1.0,1.0,Apartment/Flat,69m²,69m²,R1035,R343,0.0,0
2,R 689 000,2.0,1.0,1.0,House,200m²,50m²,R150,R150,1.0,0
3,POA,NaN,NaN,NaN,IndustrialProperty,4500m²,NaN,NaN,R9500,NaN,0
4,POA,NaN,NaN,NaN,CommercialProperty,495m²,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
8060,R 900 000,NaN,NaN,NaN,VacantLand/Plot,NaN,NaN,NaN,NaN,NaN,0
8061,R 1 090 000,3.0,3.0,1.0,House,NaN,NaN,NaN,NaN,NaN,0
8062,R 34 999 000,NaN,NaN,NaN,CommercialProperty,7449m²,NaN,NaN,NaN,NaN,0
8063,R 21 999 000,NaN,NaN,NaN,CommercialProperty,3566m²,NaN,NaN,NaN,NaN,0
8064,R 11 500 000,NaN,NaN,NaN,CommercialProperty,6546m²,NaN,NaN,NaN,NaN,0

In [5]:
dataFrame.to_csv('Johannesburg.csv', index=False, encoding='utf-8')